{% extends "base.html" %}

{% block title %}Acerca de Megacompu{% endblock %}

{% block content %}
    <div class="page-section">
    <h1>Sobre Nosotros</h1>
    <p>
        <strong>Megacompu</strong> es una tienda especializada en equipos de cómputo, periféricos y accesorios.  
        Desde nuestros inicios, hemos trabajado para brindar lo mejor en tecnología a nuestros clientes.
    </p>
    <p>
        Nuestra misión es <em>ofrecer innovación, calidad y confianza</em> en cada uno de nuestros productos,  
        acompañados de un servicio técnico especializado.
    </p>
    <li><a href="https://www.facebook.com/megacompucoca" target="_blank">Facebook</a></li>
    <li><a href="https://www.instagram.com/megacompu_coca?igsh=MWloNGMyM203ZzY3MQ==" target="_blank">Instagram</a></li>
    </div>
    
{% endblock %}
